@font-face {
  font-family: 'Asap-Regular';
  src: url('Asap-Regular.eot');
  src: url('Asap-Regular.eot?#iefix') format('embedded-opentype'),
       url('Asap-Regular.svg#Asap-Regular') format('svg'),
       url('Asap-Regular.ttf') format('truetype'),
       url('Asap-Regular.woff') format('woff'),
       url('Asap-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

