.background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.titleUp {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 100px;
  text-align: center;
}
.titleDown {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.textRand {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
body {
  margin: 0px;
  padding: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
.header {
  background-image: url("../img/bgHeader.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.titleHeaderLogo {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
.titleHeaderLogo span {
  text-transform: uppercase;
}
.menuHeader {
  display: flex;
  justify-content: flex-end;
}
.menuHeader li {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 20px;
}
.menuHeader li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.menuHeader li a:hover {
  text-decoration: none;
  color: #fce38a;
  padding-bottom: 5px;
  border-bottom: 2px solid #fce38a;
}
.menuHeader img {
  padding-left: 50px;
  margin-top: 20px;
}
.titleHeaderCreative {
  font-size: 25px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 100px;
  color: #fff;
  font-weight: bold;
}
.titleWelcomeMogo {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-top: 100px;
}
.lineHeader {
  background-color: #fff;
  width: 7%;
  height: 2px;
}
.blockLineHeader {
  display: flex;
  justify-content: center;
}
.btnHeader {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 50px;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid #fff;
  color: #fff;
}
.blockBtnHeader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.lineblockLineIntroReleative {
  background-color: #fff;
  width: 10%;
  height: 1px;
  position: absolute;
  top: 0%;
}
.lineblockLineIntroPosition {
  background-color: #f38181;
  width: 50%;
  height: 1px;
  position: relative;
}
.titleheaderFoot {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.titleheaderFoot span {
  font-weight: bold;
}
.HeaderBlocksFoot {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
}
.sectionAbout {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.titleheaderUp {
  color: 000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 100px;
  text-align: center;
}
.titleheaderDown {
  color: 000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.blockLineAbout {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.line {
  width: 5%;
  background-color: #f38181;
}
.randomHeaderText {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: 0000;
}
.blocksAbout {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.firstAboutImg,
.secondAboutImg,
.thirdAboutImg {
  width: 85%;
  margin-bottom: 50px;
}
.firstAboutImg:hover {
  border-right: 5px solid #95e1d3;
}
.secondAboutImg:hover {
  border-right: 5px solid #95e1d3;
}
.thirdAboutImg:hover {
  border-right: 5px solid #95e1d3;
}
.sectionResult {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #95e1d3;
}
.titleResult {
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.textResult {
  font-size: 14px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.blocksResults {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sectionServices {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}
.blockPhotography img {
  float: left;
}
.textService {
  width: 90%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.titleService {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.blocksService {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.blockPhotography img {
  padding-right: 30px;
}
.sectionDesign {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/designBg.jpg");
  margin-bottom: 100px;
}
.blocksPhons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.imgDesign {
  position: relative;
}
.imgDesign1 {
  position: absolute;
  right: 20%;
  top: 33%;
}
.sectionWhatWeDo {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.photoImgWhatWeDo {
  margin-top: 50px;
}
.photoImgWhatWeDo img {
  float: left;
  padding-right: 10px;
}
.titleRightSide {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-transform: uppercase;
  padding-top: 5px;
}
.blockScrollWhatWeDo {
  height: 100px;
  overflow: auto;
  margin-top: 50px;
}
.textScroll {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  width: 60%;
}
.creativityRightSide {
  margin-top: 50px;
}
.creativityRightSide img {
  float: left;
  padding-right: 10px;
}
.creativityRightSide svg {
  float: left;
  padding-right: 10px;
}
.blocksWhatWeDo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.rightSideBlockWhatWeDo {
  padding-left: 50px;
}
.sectionSlider {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-bottom: 100px;
}
.imgReviewSlideBlock svg {
  float: left;
  margin-right: 50px;
}
.textSlide {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  width: 80%;
}
.containerSlide {
  display: flex;
  justify-content: center;
}
.lineSlideBlock {
  display: flex;
  margin-left: 150px;
}
.lineSlide {
  width: 2%;
  background-color: #f38181;
  height: 2px;
}
.nameSlide {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}
.blocksSlider {
  width: 950px;
  overflow: hidden;
}
.Slide {
  width: 950px;
  display: flex;
  justify-content: center;
}
.sectionTeam {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.blocksTeam {
  display: flex;
  justify-content: center;
}
#team1,
#team2 {
  margin-right: 50px;
}
#team3:hover {
  border-right: 5px solid #95e1d3;
}
#team2:hover {
  border-right: 5px solid #95e1d3;
}
#team1:hover {
  border-right: 5px solid #95e1d3;
}
.nameTeam {
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-right: 50px;
  margin-top: 40px;
}
.professionTeam {
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-right: 50px;
  font-style: italic;
  margin-top: 20px;
}
.sectionLogo {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.blocksLogo {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sectionWork {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.blocksWork {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
#workImg {
  width: 100%;
}
.sectionSliderEnd {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-bottom: 100px;
}
.imgSlideEnd img {
  border-radius: 100px;
  float: left;
  padding-right: 10px;
}
.textSlideEnd {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  width: 80%;
  padding-top: 50px;
}
.lineSlideEnd {
  width: 2%;
  background-color: #f38181;
  height: 2px;
}
.nameSlideEnd {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}
.lineSlideEndBlock {
  display: flex;
  margin-left: 150px;
}
.SliderSlide {
  width: 950px;
  overflow: hidden;
}
.Slides {
  width: 950px;
  display: flex;
  justify-content: center;
}
.containerSlideEnd {
  display: flex;
  justify-content: center;
}
.sectionHappyClient {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/happyClient.jpg");
  margin-bottom: 100px;
}
.blockHapImg img {
  border-radius: 50px;
  float: left;
  padding-right: 30px;
}
.lineHappyClient {
  background-color: #f38181;
  width: 8%;
  height: 2px;
}
.lineHappyClientBlock {
  display: flex;
  justify-content: flex-start;
}
.titleHappyClientName {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: bold;
}
.titleHappyClientProffession {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.textHappyClient {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  width: 60%;
  display: flex;
}
.transformHappyClient {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.happyClientHight {
  margin-top: 100px;
}
.sectionBlog {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-bottom: 100px;
}
.imgBlog1 {
  position: relative;
}
.imgBlog2 {
  width: 45px;
  height: 50px;
  background-color: #95e1d3;
  position: absolute;
  left: -5%;
  top: 45%;
}
.imgBlog3 {
  width: 45px;
  height: 50px;
  background-color: #95e1d3;
  position: absolute;
  left: 32%;
  top: 45%;
}
.imgBlog4 {
  width: 45px;
  height: 50px;
  background-color: #95e1d3;
  position: absolute;
  left: 70%;
  top: 45%;
}
.BlogDate {
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.BlogDate1 {
  font-size: 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.titleBlog {
  font-size: 15px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}
.textBlogRandom {
  font-size: 15px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
.transformBlog {
  display: flex;
  justify-content: center;
}
.firstBlog,
.secondBlog {
  margin-right: 30px;
}
.commentsBlog {
  padding-left: 20px;
}
.viewBlog img {
  float: left;
  padding-right: 10px;
}
.textView {
  font-size: 15px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
.iconsBlog {
  display: flex;
}
.commentsBlog img {
  padding-right: 10px;
}
.sectionMap {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bgMap.jpg");
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.blockMarker {
  display: flex;
  justify-content: center;
}
.titleMap {
  font-size: 25px;
  color: #f38181;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.lineMap {
  width: 5%;
  background-color: #f38181;
  height: 3px;
}
.lineBlockMap {
  display: flex;
  justify-content: center;
}
.footer {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.titleFooter {
  font-size: 40px;
  text-transform: uppercase;
  color: #cccccc;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}
.textRandom {
  font-size: 15px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
}
.textFollowers {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
.textFollowers span {
  color: black;
  font-weight: bold;
}
.textFolUs {
  font-size: 14px;
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  float: left;
  padding-right: 20px;
}
.iconFootTwit,
.iconFootFace,
.iconFootInstagram,
.iconFootGoogle,
.iconFootYou,
.iconFootEarth {
  padding-right: 20px;
}
.blockFooterIcon {
  display: flex;
}
.formFooter input {
  width: 200px;
  height: 50px;
}
.formFooter {
  margin-top: 50px;
}
.subFooter {
  width: 150px;
  height: 50px;
  background-color: #95e1d3;
  color: #fff;
  text-transform: uppercase;
}
.blockImgFooter img {
  float: left;
  padding-right: 20px;
}
.blockImgFooter1 img {
  float: left;
  padding-right: 20px;
}
.blockImgFooter {
  display: block;
}
.textFooterBlog {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.blockFootInstagram {
  display: flex;
}
.transformFooter {
  display: flex;
  justify-content: space-between;
}
.textRandomBlog {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  width: 270%;
}
.footerBlog {
  display: flex;
}
.BlogTransform {
  margin-right: 200px;
}
.footerBlog img {
  padding-right: 20px;
}
.textDateFooter {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #cccccc;
  width: 200%;
}
.titleFooter1 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 50px;
}
.textfooterLast {
  font-size: 14px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 100px;
}
.textfooterLast span {
  color: #f38181;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .transformBlog {
    display: block;
    margin: 0px auto;
  }
  .imgBlog1 img {
    display: block;
    margin: 0px auto;
  }
  .titleBlog {
    text-align: center;
  }
  .imgBlog2,
  .imgBlog3,
  .imgBlog4 {
    display: none;
  }
  .textBlogRandom {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .transformBlog {
    display: block;
    margin: 0px auto;
  }
  .imgBlog1 img {
    display: block;
    margin: 0px auto;
  }
  .titleBlog {
    text-align: center;
  }
  .imgBlog2,
  .imgBlog3,
  .imgBlog4 {
    display: none;
  }
  .textBlogRandom {
    text-align: center;
  }
  .transformFooter {
    display: block;
  }
  .blocksWork {
    display: block;
  }
  #workImg {
    width: 80%;
  }
  .blocksTeam {
    display: block;
    text-align: center;
  }
  .blocksWhatWeDo {
    display: block;
  }
  .blocksService {
    display: block;
    text-align: center;
  }
  .Slide {
    width: 500px;
  }
  .blockSlide {
    width: 500px;
  }
  .Slides {
    width: 500px;
  }
  .blockSliderEnd {
    width: 500px;
  }
  .blockFootInstagram {
    display: block;
  }
  .HeaderBlocksFoot {
    display: none;
  }
  .blockBtnHeader {
    margin-bottom: 100px;
  }
  .textDateFooter {
    width: 50%;
  }
  .textRandomBlog {
    width: 50%;
  }
  .menuHeader {
    display: none;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .transformBlog {
    display: block;
    margin: 0px auto;
  }
  .imgBlog1 img {
    display: block;
    margin: 0px auto;
  }
  .titleBlog {
    text-align: center;
  }
  .imgBlog2,
  .imgBlog3,
  .imgBlog4 {
    display: none;
  }
  .textBlogRandom {
    text-align: center;
  }
  .transformFooter {
    display: block;
  }
  .blocksWork {
    display: block;
  }
  #workImg {
    width: 80%;
  }
  .blocksTeam {
    display: block;
    text-align: center;
  }
  .blocksWhatWeDo {
    display: block;
  }
  .blocksService {
    display: block;
    text-align: center;
  }
  .Slide {
    width: 350px;
  }
  .blockSlide {
    width: 350px;
  }
  .Slides {
    width: 350px;
  }
  .blockSliderEnd {
    width: 350px;
  }
  .blockFootInstagram {
    display: block;
  }
  .HeaderBlocksFoot {
    display: none;
  }
  .blockBtnHeader {
    margin-bottom: 100px;
  }
  .textDateFooter {
    width: 50%;
  }
  .textRandomBlog {
    width: 50%;
  }
  .menuHeader {
    display: none;
  }
  .LeftSideBlockImgWhatWeDo img {
    width: 80%;
  }
  .imgBlockPhone img {
    width: 95%;
  }
  .imgDesign1 img {
    right: 0;
  }
  .blocksResults {
    display: block;
  }
  .blocksAbout {
    display: block;
  }
  .titleWelcomeMogo {
    font-size: 60px;
  }
  .blocksLogo {
    display: block;
    text-align: center;
  }
  .blockLogo img {
    width: 15%;
  }
  .transformHappyClient {
    display: block;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .transformBlog {
    display: block;
    margin: 0px auto;
  }
  .imgBlog1 img {
    display: block;
    margin: 0px auto;
  }
  .titleBlog {
    text-align: center;
  }
  .imgBlog2,
  .imgBlog3,
  .imgBlog4 {
    display: none;
  }
  .textBlogRandom {
    text-align: center;
  }
  .transformFooter {
    display: block;
  }
  .blocksWork {
    display: block;
  }
  #workImg {
    width: 80%;
  }
  .blocksTeam {
    display: block;
    text-align: center;
  }
  .blocksWhatWeDo {
    display: block;
  }
  .blocksService {
    display: block;
    text-align: center;
  }
  .Slide {
    width: 300px;
  }
  .blockSlide {
    width: 300px;
  }
  .Slides {
    width: 300px;
  }
  .blockSliderEnd {
    width: 300px;
  }
  .blockFootInstagram {
    display: block;
  }
  .HeaderBlocksFoot {
    display: none;
  }
  .blockBtnHeader {
    margin-bottom: 100px;
  }
  .textDateFooter {
    width: 50%;
  }
  .textRandomBlog {
    width: 50%;
  }
  .menuHeader {
    display: none;
  }
  .LeftSideBlockImgWhatWeDo img {
    width: 80%;
  }
  .imgBlockPhone img {
    width: 95%;
  }
  .imgDesign1 img {
    right: 0;
  }
  .blocksResults {
    display: block;
  }
  .blocksAbout {
    display: block;
  }
  .titleWelcomeMogo {
    font-size: 60px;
  }
  .blocksLogo {
    display: block;
    text-align: center;
  }
  .blockLogo img {
    width: 15%;
  }
  .transformHappyClient {
    display: block;
  }
  .imgBlog1 img {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .transformBlog {
    display: block;
    margin: 0px auto;
  }
  .imgBlog1 img {
    display: block;
    margin: 0px auto;
  }
  .titleBlog {
    text-align: center;
  }
  .imgBlog2,
  .imgBlog3,
  .imgBlog4 {
    display: none;
  }
  .textBlogRandom {
    text-align: center;
  }
  .transformFooter {
    display: block;
  }
  .blocksWork {
    display: block;
  }
  #workImg {
    width: 80%;
  }
  .blocksTeam {
    display: block;
    text-align: center;
  }
  .blocksWhatWeDo {
    display: block;
  }
  .blocksService {
    display: block;
    text-align: center;
  }
  .Slide {
    width: 250px;
  }
  .blockSlide {
    width: 250px;
  }
  .Slides {
    width: 250px;
  }
  .blockSliderEnd {
    width: 250px;
  }
  .blockFootInstagram {
    display: block;
  }
  .HeaderBlocksFoot {
    display: none;
  }
  .blockBtnHeader {
    margin-bottom: 100px;
  }
  .textDateFooter {
    width: 50%;
  }
  .textRandomBlog {
    width: 50%;
  }
  .menuHeader {
    display: none;
  }
  .LeftSideBlockImgWhatWeDo img {
    width: 80%;
  }
  .imgBlockPhone img {
    width: 95%;
  }
  .imgDesign1 img {
    right: 0;
  }
  .blocksResults {
    display: block;
  }
  .blocksAbout {
    display: block;
  }
  .titleWelcomeMogo {
    font-size: 40px;
  }
  .blocksLogo {
    display: block;
    text-align: center;
  }
  .blockLogo img {
    width: 15%;
  }
  .transformHappyClient {
    display: block;
  }
  .imgBlog1 img {
    width: 80%;
  }
  .blockFooterIcon {
    display: block;
  }
  .textFolUs {
    float: none;
  }
}
